.MainApp {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
}

.CalendarHeaderContainer {
  width: 100%;
  height: 10%;
}

/* TODO this probably needs some reactive styles based on screensize because it looks ridic on desktop */
.HabitCalendarContainer {
  width: 100%;
  height: 90%;
}